doctype html
html(lang="en")
    head
         meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Great Timber LTD.
        link(rel="stylesheet", href="less2/style.css")
        link(rel="stylesheet", href="css2/style.css")
        link(rel="stylesheet", href="less2/dist/style.css")
        link(rel="shortcut icon", href="img/website-logo.png", type="image/png")
        script(src="js/script.js")
        script(src="https://kit.fontawesome.com/265d7c8059.js", crossorigin="anonymous")
    body
 