<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Great Timber LTD.
        link(rel="stylesheet", href="less2/style.css")
        link(rel="stylesheet", href="css2/style.css")
        link(rel="stylesheet", href="less2/dist/style.css")
        //- link(rel="shortcut icon", href="img/website-logo.png", type="image/png") <script src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous"></script>
        //- <script src="https://kit.fontawesome.com/265d7c8059.js" crossorigin="anonymous"></script>
        //- <script scr="js/script.js" async></script> 
    body
    .header
        .logo
            img(src="img/fullsize-website-logo.png", alt="")
        .menu
          a.menu-item.menu-item-active(href="") Homepage
          a.menu-item(href="#") About
          a.menu-item(href="#") Products
          a.menu-item(href="#") Contacts
        
        .header-contacts
            .header-contact-row
                i.fas.fa-phone
                span +44(800) 82 9152
            .header-contacts-divider
            .header-contact-row
                i.fas.fa-map-marked-alt
                span Baker Street, 46B
        

        .why-choose
            .box-h1
                h1.h1__green WHY CHOOSE US
                .green-line

            .flex
                .why-choose__content
                    img.why__image(src="img2/why_image1.png", alt="")   
                    .content__text
                        h2 Vestibulum accumsan velit posuere dignissim.
                        p Fusce feugiat malesuada odio.Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Mauris fermenum dictum.
                        .green_button Read more
                            img(src="img2/arrow.png", alt="")
                            
        
                .why-choose__content
                    img.why__image(src="img2/why_image2.png", alt="")   
                    .content__text
                        h2 Vestibulum accumsan velit posuere dignissim.
                        p Fusce feugiat malesuada odio.Morbi orci. Donec sit amet eros. Lorem ipsum dolor sit amet,consectetuer adipiscing elit. Mauris fermenum dictum.
                        .green_button Read more
                            img(src="img2/arrow.png", alt="")
                
